* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'Roboto', sans-serif; }
body {
  font-size: 14px;
  font-family: Helvetica;
  color: #5C5C5C; }

h1 {
  font-family: 'Roboto';
  font-size: 4em;
  margin: 0; }

h2 {
  font-family: 'Roboto';
  font-size: 2.35em;
  margin: 0; }

h3 {
  font-family: Helvetica;
  font-size: 2.35em;
  margin: 0; }

p {
  font-family: Helvetica;
  margin: 0; }

body {
  margin: 0px; }

a {
  font-family: Helvetica;
  text-decoration: none;
  color: #5C5C5C; }

a.blue-highlight {
  color: #3DA1CE; }

a.green-highlight {
  color: #029326; }

a:hover {
  color: #5C5C5C; }

.container {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  width: 100%; }
  .container .navbar {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    width: 100%;
    height: 72px;
    padding: 12px 36px; }
    .container .navbar .navbar-title {
      align-items: flex-start;
      margin: auto 0px; }
      .container .navbar .navbar-title .navbar-header {
        font-size: 2em;
        width: auto; }
    .container .navbar .navbar-menu {
      align-items: flex-end;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      position: relative;
      width: auto;
      margin: auto 0px; }
      .container .navbar .navbar-menu .menu-item {
        cursor: pointer;
        text-align: center;
        padding: 4px 8px;
        margin: auto 8px;
        font-size: 1em; }
      .container .navbar .navbar-menu .menu-item.underline {
        border-bottom: 1px solid; }
      .container .navbar .navbar-menu .menu-item.blue-highlight {
        color: #3DA1CE; }
      .container .navbar .navbar-menu .menu-item.green-highlight {
        color: #029326; }
      .container .navbar .navbar-menu .menu-item:hover {
        color: #5C5C5C; }
  .container main section.hero-image {
    padding: 100px 40px;
    background-position: top top;
    background-size: cover;
    background-image: url(../images/hero-image.jpg);
    height: 500px;
    width: 100%;
    border: 1px solid #979797;
    border-left: none;
    border-right: none; }
  .container main section.content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    min-width: 700px; }
    .container main section.content .home-profile-container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      margin-top: 72px; }
      .container main section.content .home-profile-container .home-profile {
        width: 408px;
        margin: auto;
        padding-right: 48px; }
        .container main section.content .home-profile-container .home-profile .header h1 {
          text-align: right; }
        .container main section.content .home-profile-container .home-profile .header hr {
          margin: 0px;
          border-top: 2px solid #3DA1CE; }
        .container main section.content .home-profile-container .home-profile .subtext {
          margin-top: 12px;
          margin-left: 144px; }
          .container main section.content .home-profile-container .home-profile .subtext p {
            font-weight: bold; }
      .container main section.content .home-profile-container .home-profile-picture {
        background-image: url("../images/profile-photo.jpg");
        background-size: cover;
        border: 1px solid #979797;
        border-radius: 50%;
        height: 300px;
        width: 300px; }
    .container main section.content .blog-container {
      position: relative;
      margin: 10px 0px;
      height: 270px;
      width: 100%;
      border: 1px solid #979797;
      border-left: none;
      border-right: none;
      background-color: #5C5C5C; }
      .container main section.content .blog-container .featured-headline {
        position: absolute;
        right: 0px;
        bottom: 20px;
        padding: 20px 50px;
        background-color: #FFFFFF;
        opacity: 0.8;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: right; }

/*# sourceMappingURL=main.css.map */
