* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'Roboto', sans-serif; }
body {
  font-size: 16px;
  font-family: Helvetica;
  color: #5C5C5C; }

h1 {
  font-family: 'Roboto';
  font-size: 4em;
  margin: 0; }

h2 {
  font-family: 'Roboto';
  font-size: 2.35em;
  margin: 0; }

h3 {
  font-family: Helvetica;
  font-size: 1.35em;
  margin: 0; }

p {
  font-family: Helvetica;
  margin: 0; }

body {
  margin: 0px; }

a {
  font-family: Helvetica;
  text-decoration: none;
  color: #5C5C5C; }

a.blue-highlight {
  color: #3DA1CE; }

a.green-highlight {
  color: #029326; }

a:hover {
  color: #5C5C5C; }

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }
  .container .navbar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 72px;
    padding: 12px 36px;
    background-color: #FFFFFF; }
    .container .navbar .navbar-title {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      -ms-grid-row-align: flex-start;
      align-items: flex-start;
      margin: auto 0px; }
      .container .navbar .navbar-title .navbar-header {
        font-size: 2em;
        width: auto; }
    .container .navbar .navbar-menu {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      position: relative;
      width: auto;
      margin: auto 0px; }
      .container .navbar .navbar-menu .menu-item {
        cursor: pointer;
        text-align: center;
        padding: 4px 8px;
        margin: auto 8px;
        font-size: 1em; }
      .container .navbar .navbar-menu .menu-item.underline {
        border-bottom: 1px solid; }
      .container .navbar .navbar-menu .menu-item.blue-highlight {
        color: #3DA1CE; }
      .container .navbar .navbar-menu .menu-item.green-highlight {
        color: #029326; }
      .container .navbar .navbar-menu .menu-item.red-highlight {
        color: #FD2608; }
      .container .navbar .navbar-menu .menu-item:hover {
        color: #5C5C5C; }
  .container main {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .container main section {
      padding: 48px 76px; }
    .container main section.home-profile-container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      height: 100%; }
      .container main section.home-profile-container .home-profile-picture {
        background-image: url("../images/profile-photo.jpg");
        background-size: cover;
        border: 1px solid #979797;
        border-radius: 50%;
        height: 300px;
        width: 300px; }
      .container main section.home-profile-container .home-profile {
        width: 384px;
        padding-left: 48px; }
        .container main section.home-profile-container .home-profile .header hr {
          margin: 0px auto;
          border-top: 2px solid #3DA1CE; }
        .container main section.home-profile-container .home-profile .subtext {
          margin-top: 12px;
          font-style: italic; }
          .container main section.home-profile-container .home-profile .subtext p {
            font-weight: semi-bold; }
            .container main section.home-profile-container .home-profile .subtext p a {
              font-weight: bold; }
    .container main section.home-about-me {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      background-color: #3DA1CE;
      color: #FFFFFF; }
      .container main section.home-about-me div.about-me-image {
        background-image: url("../images/about-me.jpg");
        background-color: #FFFFFF;
        background-size: cover;
        border: 3px solid #FFD800;
        border-radius: 10px;
        height: 300px;
        width: 400px; }
      .container main section.home-about-me div.about-me-text {
        text-align: right;
        margin-right: 48px;
        width: 480px; }
        .container main section.home-about-me div.about-me-text h2 {
          color: #FFD800; }
        .container main section.home-about-me div.about-me-text p {
          margin: 12px 0;
          font-style: italic;
          font-weight: normal; }
          .container main section.home-about-me div.about-me-text p span {
            color: #FFD800;
            font-weight: bold; }
    .container main section.home-dev-stack {
      background-color: #F0F0F0; }
      .container main section.home-dev-stack div.dev-stack-text h2 {
        text-align: center;
        color: #3DA1CE; }
      .container main section.home-dev-stack div.dev-stack-text p {
        color: #F0F0F0; }
      .container main section.home-dev-stack div.dev-stack-container {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 48px; }
        .container main section.home-dev-stack div.dev-stack-container div.dev-headings {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
          .container main section.home-dev-stack div.dev-stack-container div.dev-headings div.dev-stack-item {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            height: auto;
            padding: 24px 12px;
            width: 192px;
            border: 3px solid #3DA1CE;
            border-radius: 10px;
            text-align: center;
            margin: 12px 24px;
            background-color: #FFFFFF; }
            .container main section.home-dev-stack div.dev-stack-container div.dev-headings div.dev-stack-item .dev-stack-item-contents span {
              font-size: 3em;
              color: #3DA1CE; }
            .container main section.home-dev-stack div.dev-stack-container div.dev-headings div.dev-stack-item .dev-stack-item-contents h3 {
              margin-top: 20px;
              color: #3DA1CE; }
            .container main section.home-dev-stack div.dev-stack-container div.dev-headings div.dev-stack-item .dev-stack-item-contents ul {
              margin: 0;
              padding: 0;
              list-style: none;
              margin-top: 12px;
              font-style: italic; }
              .container main section.home-dev-stack div.dev-stack-container div.dev-headings div.dev-stack-item .dev-stack-item-contents ul li {
                margin: 4px 0px; }
    .container main section.home-contact div.contact-text {
      text-align: center; }
    .container main section.home-contact div.contact-social-media {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-top: 48px; }
      .container main section.home-contact div.contact-social-media div.social-media-item {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #FFFFFF;
        border: 1px solid #3DA1CE;
        margin: 2px;
        padding: 12px 12px;
        width: 24%;
        min-width: 290px; }
        .container main section.home-contact div.contact-social-media div.social-media-item div.item-logo {
          height: 56px;
          width: 56px; }
          .container main section.home-contact div.contact-social-media div.social-media-item div.item-logo span {
            color: #3DA1CE;
            font-size: 3em; }
        .container main section.home-contact div.contact-social-media div.social-media-item div.item-writeup {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          margin-left: 6px; }
          .container main section.home-contact div.contact-social-media div.social-media-item div.item-writeup h3 {
            color: #3DA1CE;
            font-size: 1em; }
          .container main section.home-contact div.contact-social-media div.social-media-item div.item-writeup p {
            font-style: italic;
            font-weight: normal;
            color: #5C5C5C; }
    .container main section.blog-featured-container {
      position: relative;
      margin: 0px;
      height: 270px;
      width: 100%;
      border: 1px solid #979797;
      border-left: none;
      border-right: none;
      background-color: #5C5C5C;
      margin-top: 72px; }
      .container main section.blog-featured-container .featured-headline {
        position: absolute;
        right: 0px;
        bottom: 20px;
        padding: 20px 50px;
        background-color: #FFFFFF;
        opacity: 0.8;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: right; }
    .container main section.blog-items-container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 5px;
      margin: 0 auto; }
      .container main section.blog-items-container .blog-container {
        position: relative;
        background-color: #5C5C5C;
        margin: 5px 5px;
        height: 200px;
        width: 32%;
        min-width: 300px; }
        .container main section.blog-items-container .blog-container .headline {
          position: absolute;
          padding: 12px;
          width: 100%;
          bottom: 12px;
          background-color: #FFFFFF;
          opacity: 0.8; }

/*# sourceMappingURL=main.css.map */
