@mixin flex-display {	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex; 
}

@mixin flex-direction($type) {
	-webkit-flex-direction: $type;
	-moz-flex-direction: $type;
	-ms-flex-direction: $type;
	flex-direction: $type;
}

@mixin justify-content($type) {
	-webkit-justify-content: $type;
	-moz-justify-content: $type;
	-ms-justify-content: $type;
	justify-content: $type;
}