@import "mixins";

$dark-black: #000000;
$black: #5C5C5C;
$blue: #3DA1CE;
$green: #029326;
$red: #FD2608;
$yellow: #FFD800;
$border: #979797;
$grey: #F0F0F0;
$white: #FFFFFF;

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face {
	font-family: 'Roboto', sans-serif;
}
body {
	font-size:16px;
	font-family: Helvetica;
	color: $black;
}
h1 {
	font-family:'Roboto';
	font-size:4em;
	margin:0;
}
h2 {
	font-family:'Roboto';
	font-size:2.35em;
	margin:0;
}
h3 {
	font-family:Helvetica;
	font-size:1.35em;
	margin:0;
}
p {
	font-family:Helvetica;
	margin:0;
}
body {
	margin: 0px;
}
a {
	font-family: Helvetica;
	text-decoration: none;
	color: $black;	
}
a.blue-highlight {
	color: $blue;
}
a.green-highlight {
	color: $green;
}
a:hover {
	color: $black;
}
.container {
	@include flex-display;
	@include flex-direction-column;
	width: 100%;

	.navbar {
		@include flex-display;
		@include flex-direction-row;
		@include justify-content(space-between);
		position: fixed;
		z-index: 10;
		width: 100%;
		height: 72px;
		padding: 12px 36px;
		background-color: $white;

		.navbar-title {
			@include flex-align-items-start;

			margin: auto 0px;
			.navbar-logo {

			}
			.navbar-header{
				font-size: 2em;
				width: auto;
			}
		}

		.navbar-menu {
			@include flex-display;
			@include flex-direction-row;
			position: relative;
			width: auto;
			margin: auto 0px;

			.menu-item {
				cursor: pointer;
				text-align: center;
				font-weight: bold;
				padding: 4px 8px;
				margin: auto 8px;
				font-size: 1em;
				@include color-transition(0.4s);
			}
			.menu-item.active {
				border-bottom: 1px solid;
			}
			#menu-home.menu-item.active {
				color: $blue;
			}
			#menu-home.menu-item:hover {
				color: $blue;
			}
			#menu-blog.menu-item.active {
				color: $green;
			}
		}
	}
	main {
		@include flex-display;
		@include flex-direction-column;
		@include justify-content(center);


		// Home Page Sections
		section {
			padding: 48px 48px;
		}
		section#home-profile {
			@include flex-display;
			@include flex-direction-row;
			@include justify-content(center);
			@include flex-align-items(center);
			@include flex-wrap(wrap);
			height: 100%;
			#home-profile-picture {
				background-image: url("../images/profile-photo.jpg");
				background-size: cover;
				border: 1px solid $border;
				border-radius: 50%;
				height: 300px;
				width: 300px;
			}
			#home-profile-text {
				@include animation-delay(1s);
				width: 384px;
				padding-left: 48px;
				.home-header {
					hr{
						margin: 0px auto;
						border-top: 2px solid $blue;
					}
				}
				.home-subtext {
					margin-top: 12px;
					font-style: italic;
					p {
						font-weight: semi-bold;
						a {
							font-weight: bold;
						}
					}
				}
			}
		}
		section#home-about-me {
			@include flex-display;
			@include flex-direction-row-reverse;
			@include justify-content(center);
			@include flex-align-items(center);
			@include flex-wrap(wrap);
			background-color: $blue;
			color: $white;
			div#about-me-picture {
				background-image: url('../images/about-me.jpg');
				background-color: $white;
				background-size: cover;
				border: 3px solid $yellow;
				border-radius: 10px;
				height: 300px;
				width: 420px;
				max-width: 420px;
			}
			div#about-me-text {
				text-align: right;
				margin-right: 48px;
				width: 480px;
				max-width: 480px;
				h2 {
					color: $yellow;
				}
				p {
					margin: 12px 0;
					font-style: italic;
					font-weight: normal;
					span {
						color: $yellow;
						font-weight: bold;
					}
				}
			}
		}
		section.home-dev-stack {
			background-color: $grey;
			div.dev-stack-text {
				h2 {
					text-align: center;
					color: $blue;
				}
				p {
					text-align:center;
					color: $blue;
					margin: 12px 0;
				}
			}
			div.dev-stack-container {
				@include flex-display;
				@include flex-direction-column;
				@include justify-content(center);
				@include flex-align-items(center);
				@include flex-wrap(wrap);
				margin-top: 48px;
				div.dev-headings {
					@include flex-display;
					@include flex-direction-row;
					@include justify-content(center);
					@include flex-wrap(wrap);

					div.dev-stack-item {
						@include flex-display;
						@include flex-direction-column;
						
						padding: 24px 12px;
						width: 192px;
						border: 3px solid $blue;
						border-radius: 10px;
						text-align: center;
						margin: 12px 24px;
						background-color: $white;
						.dev-stack-item-contents {
							span {
								font-size: 3em;
								color: $blue;
							}
							h3 {
								margin-top: 20px;
								color: $blue;
							}
							ul {
								margin: 0;
								padding: 0;
								list-style: none;
								margin-top: 12px;
								font-style: italic;
								li {
									margin: 4px 0px;
								}
							}
						}
					}
				}
			}
		}

		section.home-contact {
			div.contact-text {
				text-align: center;
			}
			div.contact-social-media {
				@include flex-display;
				@include flex-direction-row;
				@include justify-content(center);
				@include flex-wrap(wrap);
				margin-top: 48px;

				div.social-media-item {
					@include flex-display;
					@include flex-direction-row;
					@include flex-align-items(center);
					background-color: $white;
					border: 1px solid $blue;
					margin: 2px;
					padding: 12px 12px;
					width: 24%;
					min-width: 290px;
					div.item-logo {
						height: 56px;
						width: 56px;
						span {
							color: $blue;
							font-size: 3em;
						}
					}
					div.item-writeup {
						@include flex-display;
						@include flex-direction-column;
						@include justify-content(center);
						margin-left: 6px;
						h3 {
							color: $blue;
							font-size: 1em;
						}
						p {
							font-style: italic;
							font-weight: normal;
							color: $black;
						}
					}
				}
			}
		}

		section.blog-featured-container {
			position: relative;
			margin: 0px;
			height: 270px;
			width: 100%;
			border: 1px solid $border;
			border-left: none;
			border-right: none;
			background-color: $black;
			margin-top: 72px;
			.featured-headline {
				position: absolute;
				right: 0px;
				bottom: 20px;
				padding: 20px 50px;
				background-color: $white;
				opacity: 0.8;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				text-align: right;
			}
		}

		section.blog-items-container {
			@include flex-display;
			@include flex-direction-row;
			@include justify-content(center);
			@include flex-wrap(wrap);
			padding: 5px;
			margin: 0 auto;
			.blog-container {
				position: relative;
				background-color: $black;
				margin: 5px 5px;
				height: 200px;
				width: 32%;
				min-width: 300px;
				.headline {
					position: absolute;
					padding: 12px;
					width: 100%;
					bottom: 12px;
					background-color: $white;
					opacity: 0.8;
				}
			}
		}
		
	}
}