@import "mixins";

$black: #3D515A;
$blue: #3DA1CE;
$green: #029326;
$border: #979797;
$white: #FFFFFF;

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face {
	font-family: 'Roboto', sans-serif;
}
body {
	font-size:14px;
	font-family: Helvetica;
	color:#000;
}
h1 {
	font-family:'Roboto';
	font-size:4em;
	margin:0;
}
h2 {
	font-family:'Roboto';
	font-size:2.35em;
	margin:0;
}
h3 {
	font-family:Helvetica;
	font-size:2.35em;
	margin:0;
}
p {
	font-family:Helvetica;
	margin:0;
}
body {
	margin: 0px;
}
a {
	font-family: Helvetica;
	text-decoration: none;
	color: $black;	
}
a.blue-highlight {
	color: $blue;
}
a.green-highlight {
	color: $green;
}
a:hover {
	color: $black;
}
.container {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	width: 100%;

	.navbar {
		display: flex;
		display: -webkit-flex;
		flex-direction: row;
		-webkit-flex-direction: row;
		justify-content: space-between;
		-webkit-justify-content: space-between;
		width: 100%;
		height: 100px;
		padding: 20px 30px;
		
		.navbar-title {
			align-items: flex-start;

			margin: auto 0px;
			.navbar-logo {

			}
			.navbar-header{
				font-size: 2em;
				width: auto;
			}
		}

		.navbar-menu {
			align-items: flex-end;

			@include flex-display;
			@include flex-direction(row);
			position: relative;
			width: auto;
			margin: auto 0px;

			.menu-item {
				cursor: pointer;
				padding: 10px;
				margin: auto 10px;
				font-size: 1em;
			}
			.menu-item.underline {
				border-bottom: 1px solid;
			}
			.menu-item.blue-highlight {
				color: $blue;
			}
			.menu-item.green-highlight {
				color: $green;
			}
			.menu-item:hover {
				color: $black;
			}
		}
	}
	main {
		section.hero-image {
			// background-attachment: fixed;
			padding: 100px 40px;
			background-position:top top;
			background-size: cover;
			background-image: url(../images/hero-image.jpg);
			height: 500px;
			width: 100%;
			border: 1px solid #979797;
			border-left: none;
			border-right: none;
			// box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
		}

		section.content {
			@include flex-display;
			@include flex-direction(row);
			@include justify-content(center);
			min-width: 700px;
			.home-profile-container {
				@include flex-display;
				@include flex-direction(row);
				@include justify-content(center);
				margin-top: 50px;
				.home-profile {
					width: 450px;
					margin: auto;
					padding-right: 50px;
					.header {
						h1 { 
							text-align: right;
						}
						hr{
							margin: 0px;
							border-top: 3px solid $blue;
						}
					}
					.subtext {
						margin-top: 10px;
						margin-left: 150px;
						p {
							font-weight: bold;
						}
					}
				}
				.home-profile-picture {
					background-image: url("../images/profile-photo.jpg");
					background-size: cover;
					border: 1px solid $border;
					border-radius: 50%;
					height: 300px;
					width: 300px;
				}
			}

			.blog-container {
				position: relative;
				margin: 10px 0px;
				height: 270px;
				width: 100%;
				border: 1px solid $border;
				border-left: none;
				border-right: none;
				background-color: $black;
				.featured-headline {
					position: absolute;
					right: 0px;
					bottom: 20px;
					padding: 20px 50px;
					background-color: $white;
					opacity: 0.8;
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
					text-align: right;
				}
			}

		}
	}
}