
<section class="blog-featured-container blog1">
	<div class="blog-featured-story">
		<div class="featured-headline">
			<h2>Why the Soul Search Isn't Overrated</h2>
			<p>
				Why the Soul Search Isn't Overrated
			</p>
		</div>
	</div>
</section>
<section class="blog-items-container">
	<div class="blog-container">
		<div class="headline">
			<h3>Banff Trip</h3>
			<p>Hiking photos, and a breath of fresh air.</p>
		</div>
	</div>
	<div class="blog-container">
		<div class="headline">
			<h3>Banff Trip</h3>
			<p>Hiking photos, and a breath of fresh air.</p>
		</div>
	</div>
	<div class="blog-container">
		<div class="headline">
			<h3>Banff Trip</h3>
			<p>Hiking photos, and a breath of fresh air.</p>
		</div>
	</div>
	<div class="blog-container">
		<div class="headline">
			<h3>Banff Trip</h3>
			<p>Hiking photos, and a breath of fresh air.</p>
		</div>
	</div>
	<div class="blog-container">
		<div class="headline">
			<h3>Banff Trip</h3>
			<p>Hiking photos, and a breath of fresh air.</p>
		</div>
	</div>
	<div class="blog-container">
		<div class="headline">
			<h3>Banff Trip</h3>
			<p>Hiking photos, and a breath of fresh air.</p>
		</div>
	</div>
	<div class="blog-container">
		<div class="headline">
			<h3>Banff Trip</h3>
			<p>Hiking photos, and a breath of fresh air.</p>
		</div>
	</div>
</section>